.breadCrumb {
  z-index: 2;
  position: sticky;
  top: var(--headerLineHeight);
  width: 100%;
  color: rgb(65, 65, 65);
  font-weight: 500;
  height: var(--breadCrumbHeight);
  line-height: var(--breadCrumbHeight);
  font-family: var(--defaultFont);
  font-size: 17px;

  &--experience {
    background: linear-gradient(hsl(43, 100%, 91%) 0%, hsl(43, 100%, 93%) 100%);
  }

  &--education {
    background: linear-gradient(
      hsl(200, 100%, 91%) 0%,
      hsl(200, 100%, 93%) 100%
    );
  }

  &__content {
    padding-inline: var(--defaultInlinePadding);
    max-width: 120rem;
    margin: auto;
  }
}

.breadCrumbFiller {
  height: 73px;
}

@media (min-width: 40rem) {
  .breadCrumb {
    display: none;
  }

  .breadCrumbFiller {
    display: none;
  }
}
