.education {
  background: linear-gradient(
    hsl(200, 100%, 93%) 0%,
    hsl(200, 100%, 93%) var(--breadCrumbHeight),
    hsl(200, 100%, 98%) 150px,
    hsl(200, 100%, 98%) 100%
  );

  .certificates {
    min-height: calc(
      100svh - var(--breadCrumbHeight) - var(--headerLineHeight)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    &__groupOfImages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }
}

@media (min-width: 40rem) {
  .education {
    background: hsl(200, 100%, 98%);

    .certificates {
      min-height: 100svh;
    }
  }
}
