.hero {
  min-height: 100vh;
  // height: calc(100vh + 0px);
  padding-top: var(--headerLineHeight);
  // background-color: rgb(244, 244, 244);
  background: linear-gradient(20deg, #f6f4f1, #fcfbf9);
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  overflow-x: hidden;

  &__greetings {
    margin-bottom: 3svh;
    display: flex;
    gap: 16px;
    white-space: nowrap;
    font-family: Montserrat;
    width: fit-content;
    opacity: 0.6;
  }
  &__main {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: max;
    row-gap: 40px;
    column-gap: 30px;
    padding: 20px clamp(20px, 5vw, 80px) 25px;
    align-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .introduction {
    font-size: clamp(30px, 30px + 4vw, 70px);
    font-family: "Archivo Black";
    line-height: 1.1;

    & p {
      background-image: linear-gradient(-30deg, #191919, #474747, #424242);
      background-clip: text;
      color: transparent;
    }

    &--smaller {
      font-size: clamp(15px, 15px + 2.1vw, 36px);
      margin-top: 10px;
    }

    &__download-resume {
      background: linear-gradient(
        120deg,
        rgb(37, 171, 255) 30%,
        rgb(37, 171, 255) 49%,
        rgb(14, 126, 196) 100%
      );
      border: none;
      border-radius: 17px;
      padding: 7px clamp(15px, 15px + 1vw, 30px);
      color: white;
      font-size: clamp(8px, 8px + 0.9vw, 20px);
      font-family: Roboto;
      cursor: pointer;
    }
  }

  .rectangle {
    background-color: white;
    border-radius: 3px;
    width: clamp(20rem, 20rem + 15vw, 40rem);
    height: clamp(18rem, 18rem + 15vw, 36rem);
    aspect-ratio: 1;
    overflow: hidden;
    background: linear-gradient(
      120deg,
      rgb(30, 137, 204),
      rgb(37, 171, 255) 49%,
      rgb(62, 118, 228) 100%
    );
    box-shadow: 0 0 15px 3px rgb(216, 216, 216);
    outline: 5px solid white;
    transition: 0.1s;

    &:hover {
      transform: scale(102%);
      transition: 0.1s;
    }

    &__rotated-wrapper {
      display: flex;
      gap: 7px;
      width: 119%;
      transform: rotate(-15deg) translateX(8.5%) translateY(-30px);
    }
  }
}

.animate-scroller {
  animation: scroll 120s linear infinite;
}
@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 8px));
  }
}

@media (min-width: 40rem) {
  .hero {
    background: hsl(200, 100%, 98%);
  }
}
