.hero {
  min-height: 100svh;
  padding-top: var(--headerLineHeight);
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  padding-bottom: 40px;
  overflow-x: hidden;

  &__greetings {
    margin-top: 5svh;
    display: flex;
    gap: 16px;
    white-space: nowrap;
    font-family: Montserrat;
    width: fit-content;
  }
  &__main {
    margin-block: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-inline: 20px;
  }

  .introduction {
    font-size: 70px;
    font-family: "Archivo Black";

    &--smaller {
      font-size: 36px;
      margin-top: 10px;
    }

    &__download-resume {
      background: linear-gradient(
        120deg,
        rgb(37, 171, 255) 30%,
        rgb(37, 171, 255) 49%,
        rgb(14, 126, 196) 100%
      );
      border: none;
      border-radius: 17px;
      padding: 7px 30px;
      color: white;
      font-size: 20px;
      font-family: Roboto;
      cursor: pointer;
    }
  }

  .rectangle {
    background-color: white;
    border-radius: 20px;
    width: calc(20rem + 15vw);
    height: calc(20rem + 15vw);
    aspect-ratio: 1;
    overflow: hidden;
    background-color: pink;
    box-shadow: 0 0 0 6px white, 0 0 15px 5px rgb(149, 149, 149);
    transition: 0.1s;

    &:hover {
      transform: scale(102%);
      transition: 0.1s;
    }

    &__rotated-wrapper {
      display: flex;
      gap: 7px;
      width: 119%;
      transform: rotate(-15deg) translateX(7.7%) translateY(-30px);
    }
  }
}

.animate-scroller {
  animation: scroll 120s linear infinite;
}
@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 8px));
  }
}
