.textWithImage {
  min-height: calc(100svh - var(--headerLineHeight) - var(--breadCrumbHeight));
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--defaultFont);
  font-size: 17px;

  &__center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: max-content;
    column-gap: 20px;
    row-gap: 30px;
  }
  &__textGroup {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  &__tags {
    color: var(--mainAccentColorLighter);
  }
  &__timePeriod {
    color: rgb(146, 146, 146);
  }

  &__image {
    box-shadow: 0 0 15px 1px rgb(74, 74, 74);
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
    transition: 0.1s;
    height: max-content;

    & :hover {
      transform: scale(1.02);
      transition: 0.1s;
    }
  }
}

@media (min-width: 40rem) {
  .textWithImage {
    min-height: 100svh;
    padding-top: var(--headerLineHeight);

    scroll-snap-align: center;
  }
}
