.textWithImage {
  min-height: 100svh;
  padding-top: var(--headerLineHeight);
  display: flex;
  align-items: center;
  justify-content: center;

  &__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 400px;
    gap: 20px;
  }
  &__textGroup {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  &__timePeriod {
    color: rgb(146, 146, 146);
  }

  &__mainText {
  }

  &__imageGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 400px;
  }
  &__image {
    box-shadow: 0 0 15px 1px rgb(74, 74, 74);
  }
}
