html {
  --defaultFont: Roboto, Montserrat, Inter, sans-serif;
  --headerLineHeight: 7rem;
  --defaultInlinePadding: 4rem;
  --mainAccentColor: rgb(29, 153, 255);
  --mainAccentColorLighter: rgb(57, 166, 255);
  --breadCrumbHeight: 40px;
}
:root {
  --background-color: white;
  --text-color: black;
}

.theme--dark {
  --background-color: black;
  --text-color: white;
}
