.input {
  border-radius: 5px;
  font-size: 14px;
  font-family: var(--defaultFont);
  font-weight: 400;
  border: 1px solid gray;
  height: 30px;
  padding-inline: 8px;

  &:focus-visible {
    border: 1px solid blue;
    outline: none;
  }
}
